$primary: var(--bs-primary); 

div.table-container {
    display: grid;
    grid-template-areas:
        "left top right"
        "left table right"
        "left bottom right";
    grid-template-columns: 8rem 1fr 8rem;
    grid-template-rows: auto 1fr auto;

    max-width: 100%;
    min-height: 10rem;
    width: 40rem;

    &__top, &__left, &__bottom, &__right {
        display: flex;
        justify-content: center;
    }

    &__top {
        align-items: stretch;
        grid-area: top;
        padding-bottom: 1.6rem;
    }

    &__left {
        flex-direction: column-reverse;
        grid-area: left;
    }

    &__table {
        background: #d7e9ff;
        border-radius: 2.8rem;
        grid-area: table;
        padding: 0 1.6rem;
        position: relative;

        min-width: 16rem;
        min-height: 7rem;


        display: grid;
        place-items: center;
    }

    &__right {
        flex-direction: column-reverse;
        grid-area: right;
    }

    &__bottom {
        align-items: stretch;
        grid-area: bottom;

        padding-top: 1.6rem;
    }

    &__left, &__right {
        padding: 8rem 0; 
    }
}